*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-content: center;
    min-height: 100svh;
    font-family: sans-serif;
    font-size: 1rem;
}

form, input, label, button {
    font-family: inherit;
}

input, button {
    width: 100%;
    padding: 8px 16px;
    border-radius: 10px;
}

section {
    display: grid;
    gap: 1rem;
    width: min(90%, 300px);
    max-width: 300px;
}

form {
    display: grid;
    gap: .5rem;
}
form > * {
    display: grid;
    gap: .5rem;
}

p, h2 {
    text-align: center;
}


