<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Authentication | Home</title>
</head>
<body>
    <section>
        <h2>Welcome to the Authentication system</h2>
        <div style="display: flex; gap: 1rem;"><a href="/auth/sign-up">Sign up</a><a href="/auth/sign-in">Sign in</a></div>
    </section>

    
</body>
</html>